@model FoodDelivery.Models.ViewModels.MenuItemViewModel
@using FoodDelivery.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create MenuItem</h2>
<br />


<form method="post" asp-action="CreatePost" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItems.Name" class="form-control" />
            </div>
            <span asp-validation-for="MenuItems.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItems.Price" class="form-control" />
            </div>
            <span asp-validation-for="MenuItems.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.MenuItems.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.MenuItems.CategoryId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.MenuItems.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Spicy" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="MenuItems.Spicy" asp-items="Html.GetEnumSelectList<MenuItems.EnumSpicy>()" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryId').change(function () {
                getSubCategory();
            });
        });

        function getSubCategory() {
            var url = '@Url.Content("~/")' + 'SubCategory/GetSubCategory';
            var ddlsource = '#CategoryId';
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });

                $('#SubCategoryId').html(items);
            })
        }
    </script>

}