@model FoodDelivery.Models.ViewModels.MenuItemViewModel

@{
    ViewData["Title"] = "Details";
}


<br />
<h2 class="text-info">Details Menu Item</h2>
<br />
<div class="row">
    <div class="col-8">
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.Price" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.Price" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.CategoryId" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.Category.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.SubCategoryId" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.SubCategory.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.Spicy" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItems.Spicy" asp-items="Html.GetEnumSelectList<MenuItems.EnumSpicy>()" class="form-control"></select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <img src="@Model.MenuItems.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
    </div>
    <div class="col-8">
        <div class="col-8 offset-4">
            <partial name="_DetailAndBackToListButton" model="Model.MenuItems.Id" />
        </div>
    </div>
</div>